{
  "moduleId": "ReduxBatchedActions",
  "env": {
    "cjs": {
      "presets": [
        "@babel/preset-env"
      ]
    },
    "umd": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "umd"
          }
        ]
      ]
    },
    "mjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "esmodules": true
            },
            "modules": false
          }
        ]
      ]
    }
  }
}