language: node_js
matrix:
  include:
    - node_js: "4"
    - node_js: "5"
    - node_js: "6"
    - node_js: "7"
sudo: required
dist: trusty
cache:
   directories:
     - node_modules
script:
  - npm test
